In [16]:
import numpy as np
import pandas as pd
from apyori import apriori

In [18]:
data = pd.read_csv('data2.csv',header = None);
data.head()

   0  1  2  3  4    5    6    7
0  f  a  c  d  g    i    m    p
1  a  b  c  f  l    m    o  NaN
2  b  f  h  j  o    w  NaN  NaN
3  b  c  k  s  p  NaN  NaN  NaN
4  a  f  c  e  l    p    m    n

In [19]:
data.shape

(5, 8)

In [22]:
records = [];
for i in range(0,5):
    records.append([str(data.values[i,j]) for j in range(0,8)]);
association_rules = apriori(records,min_support = 0.30 ,min_cofidence = 0.2,min_lift = 2, min_length = 2)
association_results = list(association_rules);

In [23]:
for item in association_results:
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])
    print("Support: " + str(item[1]))
    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")
    
print(len(association_results))
#print(association_results)

Rule: b -> o
Support: 0.4
Confidence: 1.0
Lift: 2.5
=====================================
Rule: o -> nan
Support: 0.4
Confidence: 1.0
Lift: 2.5
=====================================
Rule: b -> o
Support: 0.4
Confidence: 1.0
Lift: 2.5
=====================================
3